Repository infinimesh/infinimesh, pull requests merged in 2024-01, with the labels that each got.

#593 Resolve #577: migrate plugins to connectrpc
  console/src/components/plugins/plugin-card.vue
  console/src/store/plugins.js
  console/src/views/dashboard/Devices.vue
  console/src/views/dashboard/index.vue
Labels: console

#596 Resolve #576: Migrate `store/namespaces.js` to connectrpc
  console/jsconfig.json
  console/src/components/core/access-badge.js
  console/src/components/core/objects-tree.vue
  console/src/components/core/recursive-delete-modal.vue
  console/src/components/login-card.vue
  console/src/components/namespaces/joins.vue
  console/src/store/accounts.js
  console/src/store/namespaces.js
  console/src/utils/access.js
  console/src/views/Dashboard.vue
  console/src/views/dashboard/Accounts.vue
  console/src/views/dashboard/Namespaces.vue
  console/src/views/settings/Tokens.vue
Labels: console, javascript

#595 Resolve #574: Migrate store/accounts.js to connectrpc
  console/src/components/core/access-badge.js
  console/src/components/core/objects-tree.vue
  console/src/components/core/recursive-delete-modal.vue
  console/src/components/devices/device_card/joins-mgmt-modal.vue
  console/src/components/login-card.vue
  console/src/components/namespaces/joins.vue
  console/src/store/accounts.js
  console/src/utils/access.js
  console/src/views/Dashboard.vue
  console/src/views/dashboard/Accounts.vue
  console/src/views/settings/Tokens.vue
Labels: console, javascript

#597 Resolve #578: Migrate `store/sessions.js` to connectrpc
  console/src/components/settings/sessions.vue
  console/src/store/sessions.js
Labels: console, javascript

#621 Cover Shadow with tests
  .mockery.yaml
  cmd/mqtt-bridge/common.go
  cmd/mqtt-bridge/mqtt-bridge.go
  go.mod
  go.sum
  mocks/github.com/infinimesh/infinimesh/pkg/pubsub/mock_PubSub.go
  mocks/github.com/infinimesh/proto/shadow/mock_ShadowService_StreamShadowServer.go
  pkg/mqtt/pubsub/pubsub.go
  pkg/pubsub/pubsub.go
  pkg/shadow/persister.go
  pkg/shadow/persister_test.go
  pkg/shadow/plugins/exchange.go
  pkg/shadow/server.go
  pkg/shadow/server_test.go
Labels: go

#618 Accounts and namespaces hotfixes
  Makefile
  console/src/components/accounts/create-drawer.vue
  console/src/components/accounts/set-credentials-modal.vue
  console/src/components/devices/create-drawer.vue
  console/src/components/devices/device_card/joins-mgmt-modal.vue
  console/src/components/devices/register-modal.vue
  console/src/components/login-card.vue
  console/src/components/namespaces/joins.vue
  console/src/components/plugins/create-drawer.vue
  console/src/store/accounts.js
  console/src/store/devices.js
  console/src/store/namespaces.js
  console/src/views/dashboard/Accounts.vue
  console/src/views/settings/Credentials.vue
Labels: bug, console, javascript

#647 Resolve #636: Can't remove join from namespace
  console/src/components/core/access-badge.js
  console/src/components/devices/device_card/joins-mgmt-modal.vue
  console/src/components/namespaces/joins.vue
  console/src/utils/access.js
Labels: bug, console, javascript
