Repository infinimesh/infinimesh, pull requests merged in 2024-02, with the labels that each got.

#672 Refactor Pub/Sub structure
  Makefile
  cmd/shadow/shadow.go
  pkg/mqtt/pubsub/pubsub.go
  pkg/shadow/fanout/fanout.go
  pkg/shadow/fanout_publisher/publisher.go
Labels: go

#710 Fix access log
  pkg/graph/common.go
  pkg/log/fields.go
Labels: bug

#736 Resolve #665: Cover `store/devices.js` with tests
  console/jsconfig.json
  console/src/components/devices/device-card.vue
  console/src/store/devices.js
  console/tests/store/devices.test.js
Labels: enhancement, console, javascript

#737 Resolve #666: Cover `store/namespaces.js` with tests
  console/src/store/namespaces.js
  console/src/views/dashboard/Namespaces.vue
  console/tests/store/namespaces.test.js
Labels: enhancement, console, javascript

#716 Dev store tests
  console/jsconfig.json
  console/package.json
  console/pnpm-lock.yaml
  console/src/components/devices/device-card.vue
  console/src/store/accounts.js
  console/src/store/devices.js
  console/src/store/namespaces.js
  console/src/store/plugins.js
  console/src/views/dashboard/Namespaces.vue
  console/tests/store/accounts.test.js
  console/tests/store/devices.test.js
  console/tests/store/namespaces.test.js
  console/tests/store/plugins.test.js
  console/vitest.config.js
Labels: ci, console

#747 VS Code local development setup + Improvements
  .env.example
  .gitignore
  .vscode/launch.json
  Makefile
  README.md
  cmd/mqtt-bridge/mqtt-bridge.go
  cmd/shadow/shadow.go
  cmd/web/main.go
  console/package.json
  console/pnpm-lock.yaml
  console/src/App.vue
  console/src/store/app.js
  console/src/store/devices.js
  console/src/store/plugins.js
  console/src/utils/access.js
  console/tests/utils/access.test.js
  docker-compose.yaml
  hack/vscode.sh
  pkg/graph/devices.go
  vscode.docker-compose.yaml
  vscode.routes.yml
  vscode.traefik.yml
Labels: console, backend, tests, go
